SOAR-Incident-Confirm-Activity-By-Email-Buttons/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "PlaybookName": {
            "defaultValue": "Incident-Confirm-Activity-By-Email",
            "type": "String",
            "metadata": {
                "description": "Name of the Logic App playbook"
            }
        },
        "SOCEmailAddress": {
            "defaultValue": "soc@contoso.com",
            "type": "String",
            "metadata": {
                "description": "Email address of the SOC team for escalation notifications"
            }
        },
        "OrganizationName": {
            "defaultValue": "Contoso",
            "type": "String",
            "metadata": {
                "description": "Name of your organization to display in email communications"
            }
        },
        "location": {
            "defaultValue": "[resourceGroup().location]",
            "type": "String",
            "metadata": {
                "description": "Location for all resources"
            }
        }
    },
    "variables": {
        "AzureSentinelConnectionName": "[concat('azuresentinel-', parameters('PlaybookName'))]",
        "Office365ConnectionName": "[concat('office365-', parameters('PlaybookName'))]"
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('AzureSentinelConnectionName')]",
            "location": "[parameters('location')]",
            "kind": "V1",
            "properties": {
                "displayName": "[variables('AzureSentinelConnectionName')]",
                "customParameterValues": {},
                "parameterValueType": "Alternative",
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuresentinel')]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('Office365ConnectionName')]",
            "location": "[parameters('location')]",
            "kind": "V1",
            "properties": {
                "displayName": "[variables('Office365ConnectionName')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/office365')]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('PlaybookName')]",
            "location": "[parameters('location')]",
            "tags": {
                "LogicAppsCategory": "security"
            },
            "identity": {
                "type": "SystemAssigned"
            },
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('Office365ConnectionName'))]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        },
                        "OrganizationName": {
                            "defaultValue": "[parameters('OrganizationName')]",
                            "type": "String"
                        },
                        "SOCEmailAddress": {
                            "defaultValue": "[parameters('SOCEmailAddress')]",
                            "type": "String"
                        }
                    },
                    "triggers": {
                        "Microsoft_Sentinel_incident": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "path": "/incident-creation"
                            }
                        }
                    },
                    "actions": {
                        "Entities_-_Get_Accounts": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                                "path": "/entities/account"
                            }
                        },
                        "For_each_-_User_account": {
                            "foreach": "@body('Entities_-_Get_Accounts')?['Accounts']",
                            "actions": {
                                "Send_email_-_User": {
                                    "type": "ApiConnectionWebhook",
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['office365']['connectionId']"
                                            }
                                        },
                                        "body": {
                                            "NotificationUrl": "@{listCallbackUrl()}",
                                            "Message": {
                                                "To": "@{coalesce(items('For_each_-_User_account')?['additionalData']?['MailAddress'], items('For_each_-_User_account')?['additionalData']?['UserPrincipalName'])}",
                                                "Body": "@{parameters('OrganizationName')} cybersecurity team has identified an anomalous sign-in behavior from your account.\nPlease confirm if you've traveled to multiple countries in the last 24h.\n\nAssociated Account: @{items('For_each_-_User_account')?['displayName']} (@{items('For_each_-_User_account')?['additionalData']?['UserPrincipalName']})\n",
                                                "Importance": "High",
                                                "HideHTMLMessage": true,
                                                "Subject": "Respond to Incident Involving @{items('For_each_-_User_account')?['additionalData']?['GivenName']} @{items('For_each_-_User_account')?['additionalData']?['Surname']}",
                                                "Options": "Yes - I was traveling, No - I wasn't traveling"
                                            }
                                        },
                                        "path": "/approvalmail/$subscriptions"
                                    }
                                },
                                "Condition_-_Check_email_response": {
                                    "actions": {
                                        "Update_incident_-_Close_as_benign_positive": {
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                                    }
                                                },
                                                "method": "put",
                                                "body": {
                                                    "incidentArmId": "@triggerBody()?['object']?['id']",
                                                    "status": "Closed",
                                                    "classification": {
                                                        "ClassificationAndReason": "BenignPositive - SuspiciousButExpected"
                                                    }
                                                },
                                                "path": "/Incidents"
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "Send_email_-_User": [
                                            "Succeeded"
                                        ]
                                    },
                                    "else": {
                                        "actions": {
                                            "Add_comment_to_incident_(V3)_-_Investigation_required": {
                                                "type": "ApiConnection",
                                                "inputs": {
                                                    "host": {
                                                        "connection": {
                                                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                                        }
                                                    },
                                                    "method": "post",
                                                    "body": {
                                                        "incidentArmId": "@triggerBody()?['object']?['id']",
                                                        "message": "<p class=\"editor-paragraph\">User confirmed he/she wasn't traveling in the last 24h (automation email).</p><p class=\"editor-paragraph\">Attention required by SOC team.</p>"
                                                    },
                                                    "path": "/Incidents/Comment"
                                                }
                                            },
                                            "Send_an_email_-_to_SOC": {
                                                "runAfter": {
                                                    "Add_comment_to_incident_(V3)_-_Investigation_required": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "ApiConnection",
                                                "inputs": {
                                                    "host": {
                                                        "connection": {
                                                            "name": "@parameters('$connections')['office365']['connectionId']"
                                                        }
                                                    },
                                                    "method": "post",
                                                    "body": {
                                                        "To": "@parameters('SOCEmailAddress')",
                                                        "Subject": "Defender Incident @{triggerBody()?['object']?['properties']?['providerIncidentId']} - User confirmed not traveling",
                                                        "Body": "<p class=\"editor-paragraph\">User @{items('For_each_-_User_account')?['displayName']} (@{coalesce(items('For_each_-_User_account')?['additionalData']?['MailAddress'], items('For_each_-_User_account')?['additionalData']?['UserPrincipalName'])}) confirmed not traveling in the last 24 hours.</p><p class=\"editor-paragraph\"><a href=\"https://security.microsoft.com/incident2/@{triggerBody()?['object']?['properties']?['providerIncidentId']}\" class=\"editor-link\">Link</a> to incident.</p><br>",
                                                        "Importance": "High"
                                                    },
                                                    "path": "/v2/Mail"
                                                }
                                            }
                                        }
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "equals": [
                                                    "@body('Send_email_-_User')?['SelectedOption']",
                                                    "Yes - I was traveling"
                                                ]
                                            }
                                        ]
                                    },
                                    "type": "If"
                                }
                            },
                            "runAfter": {
                                "Entities_-_Get_Accounts": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuresentinel": {
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuresentinel')]",
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                                "connectionName": "[variables('AzureSentinelConnectionName')]",
                                "connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                }
                            },
                            "office365": {
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/office365')]",
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('Office365ConnectionName'))]",
                                "connectionName": "[variables('Office365ConnectionName')]",
                                "connectionProperties": {}
                            }
                        }
                    }
                }
            }
        }
    ],
    "outputs": {
        "logicAppResourceId": {
            "type": "string",
            "value": "[resourceId('Microsoft.Logic/workflows', parameters('PlaybookName'))]"
        },
        "logicAppPrincipalId": {
            "type": "string",
            "value": "[reference(resourceId('Microsoft.Logic/workflows', parameters('PlaybookName')), '2017-07-01', 'full').identity.principalId]"
        }
    }
}
